body{
font-family:Arial;
text-align:center;
background:#121213;
color:white;
}

#board{
display:grid;
gap:6px;
justify-content:center;
margin:20px;
}

.tile{
width:55px;
height:55px;
border:2px solid #3a3a3c;
display:flex;
align-items:center;
justify-content:center;
font-size:26px;
font-weight:bold;
text-transform:uppercase;
background:#121213;
}

.correct{
background:#538d4e;
}

.present{
background:#b59f3b;
}

.absent{
background:#3a3a3c;
}

.flip{
animation:flip 0.5s ease;
}

@keyframes flip{
0%{transform:rotateX(0)}
50%{transform:rotateX(90deg)}
100%{transform:rotateX(0)}
}

#keyboard{
margin-top:20px;
}

.key{
padding:10px;
margin:3px;
border:none;
background:#818384;
color:white;
font-weight:bold;
cursor:pointer;
}

.key.correct{background:#538d4e;}
.key.present{background:#b59f3b;}
.key.absent{background:#3a3a3c;}

@keyframes flip{
0%{transform:rotateX(0)}
50%{transform:rotateX(90deg)}
100%{transform:rotateX(0)}
}

.flip{
animation:flip 0.5s ease;
}