<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Komodo Hub</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="kostyle.css">
</head>
<body>
    <header class="navbar">
        <div class="logo-group">
            <i class="fa-solid fa-paw" style="color: #228B22;font-size: 24px;"></i>
            <h1>Komodo Hub</h1>
        </div>

        <nav class="nav-links">
            <a href="#">About</a>
            <a href="#">Contact</a>
            <button class="sign-in">Sign in</button>
        </nav>
    </header>

<div class="bg-container">

    <div class ="blur-effect">
    <div class="container0">    
        <h2>Saving animals, Education, & Research, Made Fun!</h2>
    </div>

    <hr class = "enter-line">

    <div class="container">
        <p>Komodo Hub empowers communities across Indonesia to protect and preserve endangered species through one unified digital platform. By combining education, exploration, and real conservation programs, we make it easy for schools and communities to get involved. Together, we transform awareness into meaningful action for a more sustainable future.</p>
    </div>
    </div>
    <div class="button-container">
    <a href="#features">
        <button class ='Learn-more'>Learn more</button>
    </a>
        <button class ='Contact-sales'>Contact sales</button>
    </div>

</div>

<div id="features" style="background-color: #9fea4a; width: 100%; padding-bottom: 50px;">
    
    <div  id= "features" class="features-container">   
        <h1 style="font-size: 45px; color: darkgreen; font-family: sans-serif;">Main features</h1>
        <p>these are the features that Komodo Hub offers to help us achieve our goals of protecting and preserving the endangered species of Indonesia.</p>
    </div>

    <div class ="feature1-container">
        <div class="feature1">   
            <h2 style="font-size: 24px; color: rgb(0, 0, 0); font-family: sans-serif;">Virtual Learning Spaces</h2>
            <p>Komodo Hub provides comprehensive educational resources, including interactive lessons, videos, and quizzes, to raise awareness about endangered species and conservation efforts.</p>
        </div>

        <div class="imagef1">
            <img src="https://i.pinimg.com/1200x/39/79/ca/3979cafea548c6745f9eb1bf9808305e.jpg" alt ="Virtual Learning Spaces">
        </div>
    </div>    
    <div class="feature2-container">
        <div class="feature2">   
            <h2>Open Source Contributions</h2>
            <p>share your own research and findings on endangered species with the community to spread awareness and knowledge.</p>
        </div>

        <div class="imagef2">
            <img src="https://i.pinimg.com/736x/8c/82/9c/8c829c1271f5bde47e5b5a8060376a84.jpg" alt="Online Contributions">
         </div>
    </div>
    <div class="feature3-container">
        <div class="feature3">   
            <h2>Games & Quizzes</h2>
            <p>Komodo Hub offers a variety of engaging games and quizzes to make learning about endangered species fun and interactive.</p>
        </div>

        <div class="imagef3">
            <img src="https://i.pinimg.com/736x/01/68/3c/01683c203ec7f19edacddf921ea23963.jpg" alt="Games and quizzes">
         </div>
    </div>
</div>    

<script src="https://unpkg.com/lenis@1.1.18/dist/lenis.min.js"></script> 
<script>
    const lenis = new Lenis(
        {
            duration: 1.2,
            easing: (t) => Math.min(1, 1.001 - Math.pow(2, -10 * t)),
            smoothWheel: true,
            smoothTouch: false,
        }
    );
    function raf(time) {
        lenis.raf(time);
        requestAnimationFrame(raf);
    }
    requestAnimationFrame(raf);

    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function (e) {
      e.preventDefault(); // Stop the instant jump
      const target = this.getAttribute('href');
      
      lenis.scrollTo(target); // glide to the ID
    });
  });
</script>

</body>
</html>