<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Komodo Hub</title>
    <link rel="stylesheet" href="bird.css">
</head>
<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
    }
</style>
<body>

<div class="bird-side"></div>

<div class="right-side">
    <div class="login-container">
        <h2>Login</h2>
    
        <form id="loginForm">
            <div class="input-group">
                <label>Email</label>
                <input type="text" id="Email" required>
            </div>

            <div class="input-group">
                <label>Password</label>
                <input type="password" id="password" required>
            </div>

            <button type="submit" class="login-btn">Log In</button>
        </form>

        <div class="register-link">
            <p>Don't have an account?
                <a href="THE LINK TO THE REGISTER WEBSITE.html">Register here</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>