{% extends "layout.html" %}
{% block head %}
<title>Register - Komodo Hub</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
<link rel="stylesheet" href="/static/styles/register.css">
{% endblock head %}
{% block content %}

<body>
    <div>       
        <header class="navbar">
            <div class="logo-group">
                <i class="fa-solid fa-paw" style="color: #228B22;font-size: 24px;"></i>
                <a href="#">Komodo Hub</a>
            </div>

            <nav class="nav-links">
                <a href="#">About</a> 
                <a href="#">Contact</a>
                <a href="{{ url_for('login') }}"><button class="sign-in">Sign in</button></a>
            </nav>
        </header>
    </div>
    <div class="body">
        <div class="bird-side"></div>
    
        <div class="right-side">
            <div class="register-container">
                <h2>Register</h2>
            
                <form id="loginForm">
                    <div class="input-group">
                        <label>First Name</label>
                        <input type="text" id="first_name" required>
                    </div>

                    <div class="input-group">
                        <label>Last Name</label>
                        <input type="text" id="last_name" required>
                    </div>
                    <div class="input-group">
                        <label>Email</label>
                        <input type="text" id="Email" required>
                    </div>

                    <div class="input-group">
                        <label>Password</label>
                        <input type="password" id="password" required>
                    </div>

                    <div class="input-group">
                        <label>Confirm Password</label>
                        <input type="password" id="password" required>
                    </div>
                    
                    <div class="termbox">
                        <input type="checkbox" id="checkbox" name="terms" required>
                        <label for="checkbox">
                            I agree to deez<br>
                            <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank">
                                Terms and Conditions
                            </a>
                        </label>
                    </div>

                    <button type="submit" class="register-btn">Register</button>
                </form>

                <div class="register-link">
                    <p>Already have an account?
                        <a href="{{ url_for('login') }}">Log in here</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
{% endblock content %}