{% extends "layout.html" %}

{% block head %}
{% endblock head %}


{% block content %}
    <form action="{{ url_for('forgot_password') }}" method="POST">
        {{ form.hidden_tag() }}         <!-- CSRF token for protection -->

        <div class="input-group">
            {{ form.email.label }}
            {{ form.email(id="Email", placeholder="ageOfUltron@avengers.com") }}
            {% for error in form.email.errors %}
                <div class="errors">{{ error }}</div>
            {% endfor %}
        </div>       

        {{ form.submit(id="register-btn", class="register-btn") }}
    </form>
{% endblock content %}