{% extends "layout.html" %}

{% block head %}
<title>Forgot Password - Komodo Hub</title>
<link rel="stylesheet" href="/static/styles/forgot_password.css">
{% endblock head %}


{% block content %}
    <div class="body">
        <div class="bird-side"></div>

        <div class="right-side">
            <div class="login-container">
                <h2>Forgot Password</h2>
            
                <form action="{{ url_for('forgot_password') }}" method="POST">
                    {{ form.hidden_tag() }}         <!-- CSRF token for protection -->

                    <div class="input-group">
                        {{ form.email.label }}
                        {{ form.email(id="Email", placeholder="ageOfUltron@avengers.com") }}
                        {% for error in form.email.errors %}
                            <div class="errors">{{ error }}</div>
                        {% endfor %}
                    </div>       

                    {{ form.submit(id="register-btn", class="login-btn") }}
                </form>
{% endblock content %}