{% extends "layout.html" %}

{% block head %}
{% endblock head %}


{% block content %}
    <form action="" method="POST">
        {{ form.hidden_tag() }}         <!-- CSRF token for protection -->

        <div class="input-group">
            {{ form.uniqueAccessCode.label }}
            {{ form.uniqueAccessCode(id="uniqueAccessCode", placeholder="ageOfUltron@avengers.com") }}
            {% for error in form.uniqueAccessCode.errors %}
                <div class="errors">{{ error }}</div>
            {% endfor %}
        </div>       

        {{ form.submit(id="register-btn", class="register-btn") }}
    </form>
{% endblock content %}