{% extends "layout.html" %}
{% block head %}
    <title>Rhinos - Komodo Hub</title>
{% endblock head%}
{% block content %}
<h1>Rhinossss yayyy</h1>
<h2>Info</h2>
<p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
    Veritatis sequi ducimus error officia ad repellat amet 
    magnam voluptate dolore minima aliquid blanditiis totam 
    iusto autem veniam quidem cum, reprehenderit harum.
</p>
<h2>Threats and that</h2>
<p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit.
     Ad, id voluptatum! A voluptate suscipit beatae est numqua
     m quisquam, sunt quam enim consectetur voluptas accusant
     ium rem id architecto minima quae incidunt.
</p>
<h2>How you can help</h2>
<ul>
    <li>Sightings</li>
    <li>Conservation Acts</li>
    <li>Information</li>
</ul>
<div>Link to game somewhere lol!!!</div>
{% endblock content %}