{% extends "layout.html" %}
{% block head %}
    <title>Silvery Gibbon - Komodo Hub</title>
{% endblock head%}
{% block content %}
<h1>Gibbonsss!!</h1>

<div>
{% if taskcreate %}
    <form action="{{ url_for( 'createtask' ) }}" method="get">
        <input type="hidden" name="readingContent" value='GibbonThreat'>
        <button type="submit">Add Content</button>
    </form>
{% endif %}
<h2>Info</h2>
<p>
    The silvery gibbon (Hylobates moloch) is an endangered primate species native to the Indonesian island of Java. Known for its soft gray fur and melodious vocalizations, it is one of the rarest gibbons, living in small family groups within dense tropical forests.
    Silvery gibbons are medium-sized apes, weighing between 5–8 kilograms (11–18 pounds). Their dense, silvery-gray fur contrasts with a dark face framed by a pale ring. They lack a tail, and their long arms enable brachiation—swinging efficiently through the forest canopy.
    Endemic to Java, the silvery gibbon’s range has been fragmented due to deforestation and agricultural expansion. Populations persist mainly in protected areas such as Ujung Kulon National Park and Gunung Gede Pangrango National Park.
    The species prefers primary rainforest with continuous canopy cover, essential for safe travel and feeding.
</p>
</div>

<div>
{% if taskcreate %}
    <form action="{{ url_for( 'createtask' ) }}" method="post">
        <button type="submit">Add Content</button>
    </form>
{% endif %}
<h2>Threats and that</h2>
<p>
    Habitat loss, illegal pet trade, and limited genetic diversity pose serious threats. Conservation efforts include habitat protection, reforestation, and captive breeding programs led by Indonesian and international organizations. 
    Ongoing research and community-based forest management are vital to the species’ survival.
</p>
</div>

<div>
{% if taskcreate %}
    <form action="{{ url_for( 'createtask' ) }}" method="post">
        <button type="submit">Add Content</button>
    </form>
{% endif %}
<h2>How you can help</h2>
<ul>
    <li>Sightings</li>
    <li>Conservation Acts</li>
    <li>Information</li>
</ul>
</div>

<div>Link to game somewhere lol!!!</div>
{% endblock content %}