<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Animal Riddle Game</title>


  <link rel="stylesheet" href="/static/styles/riddler.css">
</head>
<body>

  <div class="container">
    <h1>Riddle me this Batman</h1>
    <h2 id="score">Score: 0</h2>
    <p id="riddle"></p>

    <input type="text" id="answer" placeholder="Type your answer...">
    
    <div class="buttons">
      <button onclick="checkAnswer()">Submit</button>
      <button onclick="nextRiddle()">Next</button>
    </div>

    <p id="hint"></p>
    <p id="result"></p>
  </div>

  <script src="/static/scripts/riddles.js"></script>
  <script src="/static/scripts/riddler.js"></script>

</body>
</html>